/* --- IMPORTS --- */

/* BASE */
@import url("../base/_base.css");
@import url("../base/_typography.css");

/* LAYOUT */
@import url("../layout/_banner.css");
@import url("../layout/_breadcrumbs.css");
@import url("../layout/_code.css");
@import url("../layout/_expand.css");
@import url("../layout/_header.css");
@import url("../layout/_images.css");
@import url("../layout/_lists.css");
@import url("../layout/_main-content.css");
@import url("../layout/_panels.css");
@import url("../layout/_tiles.css");

/* COMPONENTS */
@import url("../components/_header-bar.css");
@import url("../components/_layout.css");

/* --- IMPORTS --- */

:root {
  --ndd-print-primary-color: #0062CC;
  --ndd-print-secondary-color: #0C3378;
  --ndd-print-third-color: #25C2F2;
}
