/* --- FIRST LINK --- */
li.render-links--link:nth-child(1) {
  background-color: var(--ndd-dark-color);
}

li.render-links--link:nth-child(1):hover {
  background-color: var(--ndd-dark-hover-color);
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* --- SECOND LINK --- */
li.render-links--link:nth-child(2) {
  background-color: var(--ndd-orbix-primary-color);
}
li.render-links--link:nth-child(2):hover {
  background-color: var(--ndd-orbix-secondary-color);
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ---------------------- HEADER ---------------------- */

/* ---------------------- TILES ---------------------- */

h3.tile__headline {
  color: var(--ndd-orbix-secondary-color);
}

/* --- TILES HELP CATEGORY --- */

@media (min-width: 768px) {
  ul[aria-labelledby="Precisodeajuda"] > li.tile {
    grid-column: span 3 / span 3;
  }
}

ul[aria-labelledby="Precisodeajuda"] > li.tile--spacious {
  align-items: center;
  color: var(--ndd-text-color);
}

ul[aria-labelledby="Precisodeajuda"] h3.tile__headline {
  color: var(--ndd-text-color);
}

/* --- TILES HELP CATEGORY --- */

/* --- TILES SECURITY CATEGORY --- */
@media (min-width: 768px) {
  ul[aria-labelledby="Segurançaecompliance"] > li.tile {
    grid-column: span 3;
  }
}

ul[aria-labelledby="Segurançaecompliance"] > li.tile--spacious {
  align-items: center;
  color: var(--ndd-text-color);
}

ul[aria-labelledby="Segurançaecompliance"] h3.tile__headline {
  color: var(--ndd-text-color);
}

/* --- TILES SECURITY CATEGORY --- */

/* ---------------------- TILES ---------------------- */

/* ---------------------- CONTENT ---------------------- */

strong > span[data-colorid] {
  color: var(--ndd-orbix-secondary-color);
}

/* ---------------------- CONTENT ---------------------- */
