/* --- MENU WITH LAYOUT --- */
div.columnLayout.two-equal {
  margin-bottom: 0 !important;
}

div.two-equal > .cell.normal {
  border: 1px solid var(--ndd-gray100-color);
  padding: 24px;
  border-radius: var(--ndd-size-small);
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

div.two-equal > .cell.normal:hover {
  background-color: var(--ndd-gray100-color);
}

div.two-equal > .cell.normal img {
  max-width: 48px;
  box-shadow: none;
}
