/* IMPORTS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
@import url("nddorbix.css");
@import url("components/header-bar/headerBar.css");

/* ---------------------- ROOT ---------------------- */

:root {
  --ndd-white-color: #ffffff;
  --ndd-text-color: #4e4e4e;

  
  --ndd-blue10-color: #e9f7fd;
  --ndd-blue100-color: #24b5ed;
  
  --ndd-yellow10-color: #fffae8;
  --ndd-yellow100-color: #fed222;
  
  --ndd-red10-color: #feebec;
  --ndd-red100-color: #f53649;
  
  --ndd-green10-color: #e5f5f2;
  --ndd-green100-color: #009e7e;
  
  --ndd-gray100-color: #f0f0f0;
  --ndd-gray110-color: #A8A8A8;
  --ndd-gray130-color: #888888;

  --ndd-purple10-color: #eae3ff;
  --ndd-purple100-color: #480f7a;

  --ndd-dark-color: #222938;
  --ndd-dark-hover-color: #151c2b;

  --ndd-size-tyne: 4px;
  --ndd-size-small: 8px;
  --ndd-size-medium: 16px;
  --ndd-size-large: 24px;
  --ndd-size-xlarge: 48px;
}

/* ---------------------- ROOT ---------------------- */

/* ---------------------- HEADER ---------------------- */

header.header {
  border: none !important;
}

ul.render-links {
  gap: var(--ndd-size-large);
}

li.render-links--link {
  border-radius: var(--ndd-size-small);
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

li.render-links--link a {
  font-size: var(--ndd-size-medium);
  padding: var(--ndd-size-small) var(--ndd-size-medium);
  font-weight: 400;
}

li.render-links--link a:hover {
  text-decoration: none;
}

/* ---------------------- HEADER ---------------------- */

/* ---------------------- BANNER AND SEARCH BAR ---------------------- */

.vp-banner {
  background-position: bottom right;
  background-size: auto !important;
  margin-bottom: var(--ndd-size-medium);
  min-height: 350px;
}

h1.vp-banner-text {
  font-family: "MuseoModerno", sans-serif;
}

.vp-search-bar-container {
  width: 100%;
}

.vp-search-bar__input-container,
.vp-search-input,
.vp-dropdown__button {
  border-radius: var(--ndd-size-medium);
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.vp-dropdown--searchbar .vp-dropdown__button[aria-expanded="false"] {
  background-color: var(--ndd-gray100-color);
  color: var(--ndd-text-color);
}

.vp-dropdown--searchbar .vp-dropdown__button[aria-expanded="true"] {
  background-color: var(--ndd-gray100-color);
  color: var(--ndd-text-color);
}

.portal__header {
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: var(--ndd-size-xlarge);
}

.portal__header__content {
  width: 100%;
}

[data-vp-component="search-bar"][data-vp-variant="large"] {
  --height: var(--ndd-size-xlarge);
}

@media (max-width: 1366px) {
  .vp-banner {
    min-height: 234px;
    background-size: cover !important;
  }

  .portal__header {
    align-items: start;
    margin-top: var(--ndd-size-large);
  }

  .portal__header__content {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .vp-banner {
    background-image: none;
  }
}

/* ---------------------- BANNER AND SEARCH BAR ---------------------- */

/* ---------------------- MAIN ---------------------- */

div.hc-main-wrapper {
  background-color: var(--ndd-gray100-color);
}

main.vp-container-narrow {
  max-width: 1366px;
}

h1.vp-article__heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

div.vp-article {
  background-color: var(--ndd-white-color);
}

.breadcrumbs li:first-child a::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16"><path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/></svg>');
  display: inline-block;
  vertical-align: middle;
}

.vp-breadcrumbs .breadcrumbs-wrapper {
  border-bottom: 1px solid var(--ndd-gray100-color);
  padding-bottom: var(--ndd-size-small);
}

.vp-article__content-panel {
  background-color: var(--ndd-white-color);
}

/* ---------------------- MAIN ---------------------- */

/* ---------------------- TILES ---------------------- */

@media (max-width: 1366px) {
  ul.md\:gap-y-8 {
    row-gap: var(--ndd-size-medium);
    column-gap: var(--ndd-size-medium);
  }
}

li[data-vp-id="portal-space-tile"] {
  flex-direction: row;
  border-radius: var(--ndd-size-medium);
  padding: 20px 20px;
  font-size: 14px;
  border: 1px solid var(--ndd-gray100-color);
  align-items: start;
}

li[data-vp-id="portal-space-tile"]:hover {
  border: 1px solid var(--ndd-text-color);
}

img.tile__image {
  width: 100%;
  max-width: 50px;
}

p.tile__description {
  color: var(--ndd-text-color);
  text-align: justify;
}

/* ---------------------- TILES ---------------------- */

/* ---------------------- SEARCH PAGE ---------------------- */
.vp-search-page {
  background-color: var(--ndd-white-color);
}

/* ---------------------- SEARCH PAGE ---------------------- */

/* ---------------------- CONTENT ---------------------- */

/* --- GLOBAL --- */
p {
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--ndd-text-color);
}
/* --- GLOBAL --- */

/* --- TITLES --- */
h1 {
  font-size: 32px;
  font-family: "MuseoModerno", sans-serif;
}

h2 {
  font-size: 28px;
  font-family: "MuseoModerno", sans-serif;
}

h3 {
  font-size: 26px;
  font-family: "MuseoModerno", sans-serif;
}
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6 {
  margin-top: var(--ndd-size-medium);
}

.article__content h4,
.article__content h5,
.article__content h6 {
  margin-bottom: var(--ndd-size-small);
}

h4 {
  font-size: 20px;
  font-family: "MuseoModerno", sans-serif;
}
h5 {
  font-size: 18px;
  font-family: "MuseoModerno", sans-serif;
}
h6 {
  font-size: var(--ndd-size-medium);
  font-family: "MuseoModerno", sans-serif;
}
/* --- TITLES --- */

/* --- DIVIDER --- */
hr {
  margin: calc(var(--ndd-size-medium)*2) auto !important;
}
/* --- DIVIDER --- */

/* --- IMAGES --- */

figure.vp-image img {
  border: none;
  border-radius: var(--ndd-size-tyne);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.15) 4.5px 4.5px 4.5px 0px;
}

/* --- IMAGES --- */

/* --- PANELS --- */
.panel-macro {
  border-radius: var(--ndd-size-tyne);
  padding: 10px;
  overflow: auto;
}

.panel-macro--info {
  background-color: var(--ndd-blue10-color);
  border-left: var(--ndd-size-small) solid var(--ndd-blue100-color);
}

.panel-macro--panel-note-adf {
  background-color: var(--ndd-purple10-color);
  border-left: var(--ndd-size-small) solid var(--ndd-purple100-color);
}

.panel-macro--tip {
  background-color: var(--ndd-green10-color);
  border-left: var(--ndd-size-small) solid var(--ndd-green100-color);
}

.panel-macro--note {
  background-color: var(--ndd-yellow10-color);
  border-left: var(--ndd-size-small) solid var(--ndd-yellow100-color);
}

.panel-macro--warning {
  background-color: var(--ndd-red10-color);
  border-left: var(--ndd-size-small) solid var(--ndd-red100-color);
}

.panel-macro--panel {
  background-color: var(--ndd-gray100-color);
  border-left: var(--ndd-size-small) solid var(--ndd-gray130-color);
}

.panel-macro p:not(:first-child) {
  margin-top: 12px;
}
/* --- PANELS --- */

/* --- LINKS --- */
.vp-article__content a {
  color: #0065ff;
}
/* --- LINKS --- */

/* --- EXPAND --- */
.expand-container {
  border-radius: var(--ndd-size-tyne);
}

summary.expand-control {
  font-size: 18px;
  color: var(--ndd-text-color);
}
/* --- EXPAND --- */

/* --- STATUS --- */
.aui-lozenge {
  border-radius: var(--ndd-size-tyne);
}
/* --- STATUS --- */

/* --- LAYOUT WRAPPER --- */
.columnLayout.fixed-width {
  margin-top: 24px;
}

/* --- LAYOUT WRAPPER --- */

/* --- MENU WITH LAYOUT --- */
div.columnLayout.two-equal {
  margin-bottom: 0 !important;
}

div.two-equal > .cell.normal {
  border: 1px solid var(--ndd-gray100-color);
  padding: 24px;
  border-radius: var(--ndd-size-small);
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

div.two-equal > .cell.normal:hover {
  background-color: var(--ndd-gray100-color);
}

div.two-equal > .cell.normal img {
  max-width: 48px;
  box-shadow: none;
}
/* --- MENU WITH LAYOUT --- */

/* --- LINKS SECURITY RELEASER PAGE --- */
.vp-article__content a:not(:first-child)::before {
  font-family: "Bootstrap-icons";
  content: "\F38B";
  display: inline-block;
  font-size: 18px;
  margin-right: var(--ndd-size-small);
}
/* --- LINKS SECURITY RELEASER PAGE --- */

/* ---------------------- CONTENT ---------------------- */
