/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
@import url("nddorbix.css");

/* ---------------------- ROOT ---------------------- */

:root {
  --ndd-white-color: #ffffff;
  --ndd-text-color: #4e4e4e;

  --ndd-blue10-color: #e9f7fd;
  --ndd-blue100-color: #24b5ed;

  --ndd-yellow10-color: #fffae8;
  --ndd-yellow100-color: #fed222;

  --ndd-red10-color: #feebec;
  --ndd-red100-color: #f53649;

  --ndd-green10-color: #e5f5f2;
  --ndd-green100-color: #009e7e;

  --ndd-gray100-color: #F0F0F0;
  --ndd-gray130-color: #888888;

  --ndd-purple10-color: #EAE3FF;
  --ndd-purple100-color: #480f7a;

  --ndd-dark-color: #222938;
  --ndd-dark-hover-color: #151c2b;

  --ndd-background-color: #f0f0f0;

  --ndd-border-radius-tiny: 4px;
  --ndd-border-radius-small: 8px;
  --ndd-border-radius-medium: 12px;
  --ndd-border-radius-large: 16px;
}

/* ---------------------- ROOT ---------------------- */

/* ---------------------- HEADER ---------------------- */

header.header {
  border: none !important;
}

ul.render-links {
  gap: 24px;
}

li.render-links--link {
  border-radius: var(--ndd-border-radius-small);
  -webkit-transition: background-color 0.3s cubic-bezier(.165, .84, .44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(.165, .84, .44, 1);
  transition: background-color 0.3s cubic-bezier(.165, .84, .44, 1);
}

li.render-links--link a {
  font-size: 16px;
  padding: 8px 12px;
  font-weight: 400;
}

li.render-links--link a:hover {
  text-decoration: none;
}

/* ---------------------- HEADER ---------------------- */

/* ---------------------- BANNER AND SEARCH BAR ---------------------- */

.vp-banner {
  background-position: bottom right;
  background-size: auto !important;
  margin-bottom: 1rem;
  min-height: 350px;
}

h1.vp-banner-text {
  font-family: "MuseoModerno", sans-serif;
}

.vp-search-bar-container {
  width: 100%;
}

.vp-search-bar__input-container,
.vp-search-input,
.vp-dropdown__button {
  border-radius: var(--ndd-border-radius-medium);
  -webkit-transition: background-color 0.3s cubic-bezier(.165, .84, .44, 1);
  -ms-transition: background-color 0.3s cubic-bezier(.165, .84, .44, 1);
  transition: background-color 0.3s cubic-bezier(.165, .84, .44, 1);
}

.vp-dropdown--searchbar .vp-dropdown__button[aria-expanded="false"] {
  background-color: var(--ndd-background-color);
  color: var(--ndd-text-color);
}

.vp-dropdown--searchbar .vp-dropdown__button[aria-expanded="true"] {
  background-color: var(--ndd-background-color);
  color: var(--ndd-text-color);
}

.portal__header {
  padding-bottom: 0rem;
  padding-top: 0rem;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 48px;
}

.portal__header__content {
  width: 100%;
}

[data-vp-component="search-bar"][data-vp-variant="large"] {
  --height: 48px;
}

@media (max-width: 1366px) {
  .vp-banner {
    min-height: 234px;
    background-size: cover !important;
  }

  .portal__header {
    align-items: start;
    margin-top: 24px;
  }

  .portal__header__content {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .vp-banner {
    background-image: none;
  }
}

/* ---------------------- BANNER AND SEARCH BAR ---------------------- */

/* ---------------------- MAIN ---------------------- */

div.hc-main-wrapper {
  background-color: var(--ndd-background-color);
}

main.vp-container-narrow {
  max-width: 1366px;
}

h1.vp-article__heading{
  font-size: 40px;
}

div.vp-article {
  background-color: var(--ndd-white-color);
}

.breadcrumbs li:first-child a::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16"><path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/></svg>');
  display: inline-block;
  vertical-align: middle;
}

.vp-breadcrumbs .breadcrumbs-wrapper {
  border-bottom: 1px solid var(--ndd-background-color);
  padding-bottom: 8px;
}

/* ---------------------- MAIN ---------------------- */

/* ---------------------- TILES ---------------------- */

@media (max-width: 1366px) {
  ul.md\:gap-y-8 {
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

li[data-vp-id="portal-space-tile"] {
  flex-direction: row;
  border-radius: var(--ndd-border-radius-medium);
  padding: 20px 20px;
  font-size: 14px;
  border: 1px solid var(--ndd-background-color);
  align-items: start;
}

li[data-vp-id="portal-space-tile"]:hover {
  border: 1px solid var(--ndd-text-color);
}

img.tile__image {
  width: 100%;
  max-width: 50px;
}

p.tile__description {
  color: var(--ndd-text-color);
  text-align: justify;
}

/* ---------------------- TILES ---------------------- */

/* ---------------------- SEARCH PAGE ---------------------- */
.vp-search-page{
  background-color: var(--ndd-white-color);
}

/* ---------------------- SEARCH PAGE ---------------------- */

/* ---------------------- CONTENT ---------------------- */

/* --- GLOBAL --- */
p {
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--ndd-text-color);
}
/* --- GLOBAL --- */

/* --- TITLES --- */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
/* --- TITLES --- */

/* --- DIVIDER --- */
hr {
  margin: 2rem auto !important;
}
/* --- DIVIDER --- */

/* --- DIVIDER --- */
.vp-article__content-panel {
  background-color: var(--ndd-white-color);
}

/* --- IMAGES --- */

figure.vp-image img {
  border: none;
  border-radius: var(--ndd-border-radius-tiny);
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.15) 4.5px 4.5px 4.5px 0px;
}

/* --- IMAGES --- */

/* --- PANELS --- */
.panel-macro {
  border-radius: var(--ndd-border-radius-tiny);
  padding: 10px;
  overflow: auto;
}

.panel-macro--info {
  background-color: var(--ndd-blue10-color);
  border-left: var(--ndd-border-radius-small) solid var(--ndd-blue100-color);
}

.panel-macro--panel-note-adf {
  background-color: var(--ndd-purple10-color);
  border-left: var(--ndd-border-radius-small) solid var(--ndd-purple100-color);
}

.panel-macro--tip {
  background-color: var(--ndd-green10-color);
  border-left: var(--ndd-border-radius-small) solid var(--ndd-green100-color);
}

.panel-macro--note {
  background-color: var(--ndd-yellow10-color);
  border-left: var(--ndd-border-radius-small) solid var(--ndd-yellow100-color);
}

.panel-macro--warning {
  background-color: var(--ndd-red10-color);
  border-left: var(--ndd-border-radius-small) solid var(--ndd-red100-color);
}

.panel-macro--panel {
  background-color: var(--ndd-gray100-color);
  border-left: var(--ndd-border-radius-small) solid var(--ndd-gray130-color);
}

.panel-macro p:not(:first-child) {
  margin-top: 12px;
}
/* --- PANELS --- */

/* --- LINKS --- */
.vp-article__content a {
  color: #0065ff;
}
/* --- LINKS --- */

/* --- EXPAND --- */
.expand-container {
  border-radius: var(--ndd-border-radius-tiny);
}

summary.expand-control {
  font-size: 18px;
  color: var(--ndd-text-color);
}
/* --- EXPAND --- */

/* --- STATUS --- */
.aui-lozenge {
  border-radius: var(--ndd-border-radius-tiny);
}
/* --- STATUS --- */

/* --- LAYOUT WRAPPER --- */
.columnLayout.fixed-width {
  margin-top: 24px;
}

/* --- LAYOUT WRAPPER --- */

/* --- MENU WITH LAYOUT --- */
div.columnLayout.two-equal{
  margin-bottom: 0!important;
}

div.two-equal >.cell.normal {
  border: 1px solid #f3f3f4;
  padding: 24px;
  border-radius: var(--ndd-border-radius-small);
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color .35s cubic-bezier(.165, .84, .44, 1);
}

div.two-equal > .cell.normal:hover {
  background-color: var(--ndd-background-color);
}

div.two-equal > .cell.normal img{
  box-shadow: none;
}
/* --- MENU WITH LAYOUT --- */


/* ---------------------- CONTENT ---------------------- */
